@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    
    
    
}
.main{
  background-color: black;
  color: white;
  height: 700px;
}

/* for header side */

section{
  padding: 2rem 9%;
}
.home{
  padding: 0;
  position: relative;
}
.home .slide-container .slide{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 9%;
 
}

.home .slide-container .slide .content{
  flex: 1 1 40rem;
  padding-bottom: 200px;
  padding-left: 20px;
  animation: slideContent .3s linear .3s backwards;
}
@keyframes slideContent{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
}
.home .slide-container .slide .image{
  
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}
.home .slide-container .slide .image .covershoe-1{
  width: 110%;
  transform: rotate(-10deg);
  padding-right: 80px;
  animation: shoe .3s linear;
}
@keyframes shoe{
  0%{
    transform: rotate(0deg) scale(.5);
  }
}
.home .slide-container .slide .content span{
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
 
}
.home .slide-container .slide .content p{
  color: grey;
  margin-top: 15px;
}
.home .slide-container .slide .content button{
  border: 3px solid white;
  background-color: white;
  font-weight: bold;
  color: black;
  width: 200px;
  border-radius: 0;
  height: 50px;
  margin-top: 30px;
}

.home #prev,.home #next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 5.5rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  color: grey;
  border: .2rem solid grey;
  cursor: pointer;
}
.home #prev:hover,.home #next:hover{
  color: black;
  background-color: white;
}
.home #prev{
  left: 2rem;
}
.home #next{
  right: 3rem;
}

/* next slide of the header */
.home .slide-container{
  display: none;
}
.home .slide-container.active{
  display: block;
}


/* bunch deal steal info */

#register-btn{
  border: 3px solid black;
  background-color: black;
  font-weight: bold;
  color: white;
  width: 200px;
  border-radius: 0;
  height: 50px;
  margin-top: 30px;
  margin-left:20px;
}
.bunch{
  padding-top: 30%;
  font-size: 50px;
  font-weight: 800;
  padding-left:20px;
}
.bunchInfo{
  padding-top: 20px;
  font-size: 16px;
  color: grey;
  padding-left:20px;
  line-height: 35px;
}
.image-container img{
  animation: shoe .3s linear;
  padding-top: 5%;
  margin-left: 20px;
  padding-left:20px;
}

/* CARD - HIGH QUALITY  */
.card img{
  width: 150px;
  height: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
 
}
.card{
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 50px;
  border: 3px solid white;
  transition: all 0.3s;
  box-shadow: -2px 2px 20px -10px rgba(95, 86, 86, 0.75);
  outline: none;
  
}
.card:hover{
  transform: scale(1.15);
}
.card-group{
  margin-bottom: 10%;
}
.highqual{
  font-size: 48px;
  font-weight: 900;
  margin-top: 150px;
  margin-bottom: 80px;
}
.card-title,.card-text{
  padding-top: 15px;
  line-height: 35px;
}

/* GUARANTEED AUTHENTIC INFO */
.guarantee{
  padding-top: 20%;
  font-size: 50px;
  padding-left:20px;
  font-weight: 800;
 
}
.guaranteeInfo{
  padding-top: 20px;
  font-size: 16px;
  color: grey;
  padding-left:20px;
  line-height: 35px;
}

/* subscribe info */

.subscribe{
  background-color: black ;
  width: 90%;
  height: 500px;
  padding: 30px;
  color: white; 
}
.subscribe h1{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 50px;
}
.subscribe p {
  line-height: 35px;
  padding-bottom: 10px;
}
#email-form{
  background: transparent;
  height: 60px;
  border-radius: 0;
  color: white;
 }
 #subscribe-btn{
  border: 3px solid white;
  background-color: white;
  font-weight: bold;
  color: black;
  width: 200px;
  border-radius: 0;
  height: 60px;
  margin-left: 10px;
 }

 /* footer */

 .social-icon {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  width: 70px;
  text-align: center;
}

.social-icon:hover {
  background-color: #333;
}
footer li {
  list-style: none;
  line-height: 50px;
}
.footer-column{
  margin-top: 90px;
  font-size: 20px;
  margin-right: 90px;
}
.footer-column .fa-shoe-prints{
  font-size: 70px;
  color: #000;
}
.footer-column p{
  margin-top: 30px;
  margin-bottom: 20px;
  
}






/* Responsive on mobile */

@media (max-width:768px){
  .nav-item{
    margin-left: 0;
  }
  .main{
    background-color: black;
    color: white;
    height: 850px;
  }
  .home .slide-container .slide .content button{
    border: 3px solid white;
    background-color: white;
    font-weight: bold;
    color: black;
    width: 100%;
    border-radius: 0;
    height: 50px;
  }
  .home .slide-container .slide .content span{
    font-size: 35px;
    font-weight: 900;
    margin-left: 2px;
    margin-bottom: 0;
    padding-left: 2px;
    letter-spacing: normal;
  }
  .home .slide-container .slide .content{
    flex: 1 1 40rem;
    padding-bottom: 5px;
    padding-left: 0;
    animation: slideContent .3s linear .3s backwards;
    padding-top: 40px;
  }
  .home .slide-container .slide .content button{
    margin-top: 20px;
  }
  .home .slide-container .slide .content p{
    color: grey;
    margin-top: 15px;
  }
  .home .slide-container .slide .image .covershoe-1{
    width: 110%;
    transform: rotate(-10deg);
    padding-right: 50px;
    animation: shoe .3s linear;
    margin-bottom: 20px;
    padding-left: 4px;
  }
  .home #prev,.home #next{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 100;
    height: 4rem;
    width: 4rem;
    line-height: 5.5rem;
    border-radius: 50%;
    font-size: .5rem;
    text-align: center;
    color: grey;
    border: .2rem solid grey;
    cursor: pointer;
  }
  .home #prev{
    left: 1rem;
  }
  .home #next{
    right: 1rem;
  }

  /* BUNCH STEAL RESPONSIVE */
 
  #register-btn{
    border: 3px solid black;
    background-color: black;
    font-weight: bold;
    color: white;
    width: 200px;
    border-radius: 0;
    height: 50px;
    margin-top: 30px;
    margin-left:20px;
  }
  .bunch{
    padding-top: 3%;
    font-size: 30px;
    padding-left:20px;
  }
  .bunchInfo{
    padding-top: 20px;
    font-size: 14px;
    color: grey;
    padding-left:20px;
  }
  .image-container img{
    animation: shoe .3s linear;
    padding-top: 3%;
    
    padding-right:50px;
  }

  /* HIGH QUALITY SHOES RESPONSIVE */

  .highqual{
    font-size: 30px;
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .card{
    padding: 20px;
  }
  .card-title,.card-text{
    padding-top: 15px;
    
  }

  /* subscribe info - responsive*/

.subscribe{
  background-color: black ;
  width: 90%;
  height: 700px;
  padding: 30px;
  color: white; 
  margin-top: 20px;
}
.subscribe h1{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 35px;
}
.subscribe p {
  line-height: 35px;
  padding-bottom: 10px;
  font-size: 16px;
}
#email-form{
  background: transparent;
  height: 60px;
  border-radius: 0;
  color: white;
  
 }
 #subscribe-btn{
  border: 3px solid white;
  background-color: white;
  font-weight: bold;
  color: black;
  width: 500px;
  border-radius: 0;
  height: 60px;
  margin-top: 30px;
  margin-left: 0;
  
 }

 /* footer - responsive*/

 .social-icon {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  width: fit-content;
  text-align: center;
}

.social-icon:hover {
  background-color: #333;
}
footer li {
  list-style: none;
  line-height: 50px;
  text-align: left;
}
.footer-column{
  margin-top: 40px;
  font-size: 16px;
  margin-right: 90px;
  justify-content: left;
  
}
.footer-column .fa-shoe-prints{
  font-size: 40px;
  color: #000;
  text-align: left;
}
.footer-column p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  
}
 


}